// Custom.scss

@import "variables";

body {
    font: 100% $font-stack;
    color: $primary-color;
    font-size: $primaty-font-size;
    line-height: 36px;
}
.col-12 {
    padding: $seset-padding;
}

.bg {
    background-image: radial-gradient(#000 10%, transparent 10%), radial-gradient(#000 10%, transparent 10%);
    background-color: #fff;
    background-position: 0 0, 55px 55px;
    background-size: 10px 10px;
    width: 100%;
    padding: 2%;
}

/* styling */
.uppercase {
    font-size: 30px;
    font-weight: 600;
    text-transform: $text-tranform-uppercase;
}

/* quote */
.quotation-marks {
    font-size: 80px;
    font-family: "Playball", cursive;
}

/* art */
.art {
    margin-top: 8%;
}

/* pictures */

@import "partials/pictures";

/* headings */

@import "partials/headings";

/* footer */

@import "partials/footer";

/* Burger icon */

@import "partials/menu";

/* media jquery */

@import "partials/media-jquery";

